services:
  app:
    build:
      context: .
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    command: >
      sh -c "npm run dev -- --host 0.0.0.0"
    stdin_open: true
    tty: true
    restart: unless-stopped